@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	color: #111;
	font-family: 'Monsterrat', sans-serif;
	font-size: 18px;
}

input[type="text"] {
	border: none;
	border-bottom: 2px solid #557;
	outline: none;
	color: #557;
}

input::placeholder {
	color: #557;
	opacity: .5;
}

#main {
	margin-left: 45%;
}

h1 {
	font-size: 40px;
	line-height: 25px;
	margin-top: 42vh;
}
h2 {
	font-size: 30px !important;
	line-height: 25px;
	line-height: 0;
}
h3 {
	font-size: 20px !important;
	line-height: 15px;
}